<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" 
th:replace="base::layout(~{::section})">
<head>
	<title>Home Page</title>
</head>
<body>
	<section class="banner d-flex">
		<div class="text-center" style="margin:auto">
			<h1>This is home page</h1>
			<p style="margin:5%">
				Start collecting your contacts in very smarter way. </p>
			<p style="margin:5%">
				"Enhance your contact collection with our intelligent and efficient approach."
			</p>
		<a href="/login" />	<button class="btn bg-primary btn-lg text-white"> Get Started</button>
		</div>
	</section>
</body>	
</html>